# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Not ignore libs
!TProg_Workstation/lib/*
!TProg_Web/UyTube/WEB-INF/lib/*
!TProg_Web_Movil/UyTube/WEB-INF/lib/*

# Not ignore tomcat
!apache-tomcat-8.5.4/bin/*
!apache-tomcat-8.5.4/conf/*
!apache-tomcat-8.5.4/lib/*
!apache-tomcat-8.5.4/webapps/*
apache-tomcat-8.5.4/Catalina/*
apache-tomcat-8.5.4/work/*
apache-tomcat-8.5.4/temp/*


