# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# ignore Eclipse project bin
/TProg_Logica/bin
/TProg_Logica/.classpath
/TProg_Logica/.project
/TProg_Presentacion/bin
/TProg_Presentacion/.classpath
/TProg_Presentacion/.project
