

.page {
	font-family: sans-serif;	
	height: 100%;
}

.header {
	box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.05);
	padding: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.head-item {
	width: 20%;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.head-item1 {
	width: 20%;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.head-item button{
	width: 40%;
	font-weight: bold; 
	font-size: 12px;
	float: right;
	color: white;
	background-color: #B7B7B7;
	margin: 7px;
	padding: 10px 10px;     
	border-radius: 7px;     
	border: none;
	transition-duration: 0.3s;
}

.head-item button:hover {
	background-color: gray;
}

.head-item .thumbnail {
  position: relative;
  width: 80px;
  float: left;
  border-radius: 50%;
  height: 80px;
  overflow: hidden;
}

.head-item .thumbnail2 {
  position: relative;
  width: 300px;
  border-radius: 50%;
  height: 300px;
  overflow: hidden;
}
.head-item .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.head-item .thumbnail2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.head-item .thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.busqueda {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contenido {
	width: 80%;
	padding: 10px;
	float:right;
	height: 100%;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=url], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.detalleClickeableLista { cursor: pointer; 
-webkit-box-shadow:inset 500px 100px 10px 10px #F2F2F2;
box-shadow:inset 500px 100px 10px 10px #F2F2F2;
}

.detalleClickeableVideo { cursor: pointer; 
-webkit-box-shadow:inset 500px 100px 10px 10px #F2F2F2;
box-shadow:inset 500px 100px 10px 10px #F2F2F2;
}

.detalleClickeableUsuario { cursor: pointer; 
-webkit-box-shadow:inset 500px 100px 10px 10px #F2F2F2;
box-shadow:inset 500px 100px 10px 10px #F2F2F2;
}

.detalleClickeableVideoABorrar { cursor: pointer; 
-webkit-box-shadow:inset 500px 100px 10px 10px #F2F2F2;
box-shadow:inset 500px 100px 10px 10px #F2F2F2;
}

.sidebar {
	width: 20%;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	float:left;
	padding: 15px;
	text-align: center;
	background: rgba(0, 0, 0, 0.025);
}

.sidebar button {   
	width: 200px;
	font-weight: bold; 
	font-size: 16px;
	color: white;
	background-color: #B7B7B7;
	margin: 7px;
	padding: 10px 20px;     
	border-radius: 7px;     
	border: none;
	transition-duration: 0.3s;
}

.sidebar button:hover {
	background-color: gray;
}

/* Highlights */
.contenido .highlights {
  width: 100%;
  margin: 0 2.5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 60%; }
  .highlights > * {
    padding: 3.5rem;
    width: calc(60% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(60% + -0.5rem); }
      .highlights .detalleClickeableUsuario {
    border-radius: 4px;
    height: 100px;
    width: 70%;
    padding: 1rem;
    text-align: center;
    float: right; }
    .highlights .detalleClickeableUsuario .thumbnail {
  position: relative;
  width: 80px;
  float: left;
  border-radius: 50%;
  height: 80px;
  overflow: hidden; }
  .highlights .detalleClickeableUsuario .thumbnail .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
  .highlights .detalleClickeableLista {
    border-radius: 4px;
    height: 100px;
    width: 70%;
    padding: 1rem;
    text-align: center;
    float: right; }
    .highlights .detalleClickeableLista .icon {
      float: left;
      width: auto;
      height: 80px;
      font-size: 5rem; }
   .highlights .detalleClickeableVideo {
    border-radius: 4px;
    height: 100px;
    width: 70%;
    padding: 1rem;
    text-align: center;
    float: right; }
    .highlights .detalleClickeableVideo .icon {
      float: left;
      width: auto;
      height: 60px;
      font-size: 5rem; }
     .highlights .detalleClickeableCategoria {
    border-radius: 4px;
    height: 70px;
    width: 70%;
    padding: 1rem;
    text-align: center;
    float: right; }
    .highlights .detalleClickeableCategoria .icon {
      float: left;
      width: auto;
      height: 48px;
      font-size: 5rem; }
   .highlights .detalleClickeableVideoABorrar {
    border-radius: 4px;
    height: 100px;
    width: 70%;
    padding: 1rem;
    text-align: center;
    float: right; }
    .highlights .detalleClickeableVideoABorrar .icon {
      float: left;
      width: auto;
      height: 80px;
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 80%; }
    .highlights > * {
      padding: 1rem;
      width: calc(60% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(80% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(80% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(80% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(60% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(80% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .detalleClickeableLista {
  background: #F5F5F5;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
  
.highlights .detalleClickeableLista:hover {
	background: #ABDEBA;
}

.highlights .detalleClickeableVideo {
  background: #F5F5F5;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
  
.highlights .detalleClickeableVideo:hover {
	background: #ABDEBA;
}

.highlights .detalleClickeableVideoABorrar {
  background: #F5F5F5;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
  
.highlights .detalleClickeableVideoABorrar:hover {
	background: #E27679;
}

.highlights .detalleClickeableCategoria {
  background: #F5F5F5;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
}

.highlights .detalleClickeableCategoria:hover {
	background: #E2D88F;
}

.highlights .detalleClickeableUsuario {
  background: #F5F5F5;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
}

.highlights .detalleClickeableUsuario:hover {
	background: #ABDEBA;
}
