* {
	margin: 0;
	padding: 0;
}

.page {
	font-family: sans-serif;	
}

.header {
	border-bottom: 1px solid black;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.head-item {
	width: 30%;
	justify-content: center;
	margin: 10px;
}

.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contenido {
	width: 90%;	
	padding: 10px;
	/*background-color: yellow;*/
	
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 12%;
	padding: 15px;
	text-align: center;
}

.sidebar button {    
	font-weight: bold; 
	font-size: 16px;
	color: white;
	background-color: #B7B7B7;
	margin: 7px;
	padding: 10px 20px;     
	border-radius: 7px;     
	border: none;
	transition-duration: 0.3s;
}

.sidebar button:hover {
	background-color: gray;
}