#header {

}

#header .logo {
	margin-left: 5px;
	margin-right: 0px;
	float: left;
	background-color: aqua;
}

#header .buscador {
	margin-left: 10%;
	float: left;
	background-color: lime;
}
#header .usuario {
	
	margin-right: 5%;
	background-color: red;
}

#cuerpo {
	background-color: yellow;
	clear: both;
}